@import "tailwindcss";

@theme {
  --color-background: oklch(5.49% 0 60);
  --color-foreground: oklch(97.18% 0 60);

  --font-display: "Fira Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace, sans-serif;
}
 
@layer base {
  body {
    @apply bg-background text-foreground font-display;
    font-variant-ligatures: none;
  }

  .box {
    @apply border border-foreground p-4;
  }

  .box > h2:first-child {
    @apply absolute float-left -mt-7 -ml-2 bg-background px-2 select-none;
  }

  a {
    @apply hover:underline cursor-pointer;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    48% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    98% {
      opacity: 1;
    }
  }
}
