@import "tailwindcss";

@theme {
  --color-background: oklch(5.49% 0 60);
  --color-foreground: oklch(97.18% 0 60);
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    48% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    98% {
      opacity: 1;
    }
  }
}
